In [2]:
'''Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.'''
#Ans :
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
'''Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.'''
#Ans :
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(my_list)

print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [9]:
'''Q3. Create a Pandas DataFrame that contains the following data:'''
#Ans :
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [12]:
'''Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.'''
#Ans :
'''
A Series in Pandas is like a single column of data, similar to a list or an array.
A DataFrame in Pandas is like a table or a spreadsheet, consisting of multiple columns (Series) 
that are related to each other, creating a structured and organized way to store and analyze data.
'''
#Example :
import pandas as pd

# Series
fruits_series = pd.Series(['Apple', 'Banana', 'Cherry', 'Date'], name='Fruit')

# DataFrame
data = {
    'Fruit': ['Apple', 'Banana', 'Cherry', 'Date'],
    'Color': ['Red', 'Yellow', 'Red', 'Brown'],
    'Taste': ['Sweet', 'Sweet', 'Sweet', 'Sweet'],
}

fruits_df = pd.DataFrame(data)

# Printing the Series and DataFrame
print("Series (Single Column):")
print(fruits_series)

print("\nDataFrame (Table with Multiple Columns):")
print(fruits_df)

Series (Single Column):
0     Apple
1    Banana
2    Cherry
3      Date
Name: Fruit, dtype: object

DataFrame (Table with Multiple Columns):
    Fruit   Color  Taste
0   Apple     Red  Sweet
1  Banana  Yellow  Sweet
2  Cherry     Red  Sweet
3    Date   Brown  Sweet

In [21]:
import pandas as pd

In [28]:
'''Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?
'''

#Ans : 
'''
Pandas provides a wide range of functions for manipulating data in a DataFrame. Here are some common functions and methods along with examples of when you might use them:

1. Selection and Filtering:

df[...]: You can select specific columns or rows by indexing.

2. Sorting:

df.sort_values(): Sort the DataFrame by one or more columns.
'''
df = pd.read_csv("players_data.csv")
#Example 1:
df['Player']  # Select a specific column

#Example 2:
df.sort_values(by='Age')  # Sort by Age in ascending order

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
460,357,Jabari Parker,PF,19,MIL,25,25,738,129,263,...,.697,50,88,138,42,31,5,47,42,308
621,456,Noah Vonleh,PF,19,CHO,25,0,259,30,76,...,.692,28,58,86,4,4,9,11,20,83
641,473,Andrew Wiggins,SF,19,MIN,82,82,2969,497,1137,...,.760,134,240,374,170,86,50,177,190,1387
351,273,Zach LaVine,PG,19,MIN,77,40,1902,286,677,...,.842,27,187,214,276,54,10,193,158,778
231,177,Aaron Gordon,PF,19,ORL,47,8,797,93,208,...,.721,46,123,169,33,21,22,38,83,243
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
97,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
361,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
628,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
183,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS

In [29]:
'''Q6. Which of the following is mutable in nature Series, DataFrame, Panel?'''

#Ans : 
'''
In Pandas:

1. Series: A Pandas Series is mutable. You can change the values within a Series after it has been created.

2. DataFrame: A Pandas DataFrame is also mutable. You can add, remove, or modify columns and rows within a DataFrame.

3. Panel: A Pandas Panel is not mutable.
'''

'\nIn Pandas:\n\n1. Series: A Pandas Series is mutable. You can change the values within a Series after it has been created.\n\n2. DataFrame: A Pandas DataFrame is also mutable. You can add, remove, or modify columns and rows within a DataFrame.\n\n3. Panel: A Pandas Panel is not mutable.\n'

In [30]:
'''Q7. Create a DataFrame using multiple Series. Explain with an example.'''

#Ans :
import pandas as pd

# Creating two Pandas Series
names = pd.Series(['Sanket', 'Kartik', 'Mayur'])
ages = pd.Series([21, 20, 18])

# Creating a DataFrame by combining the Series into a dictionary
data = {'Name': names, 'Age': ages}
df = pd.DataFrame(data)

# Printing the DataFrame
print(df)

     Name  Age
0  Sanket   21
1  Kartik   20
2   Mayur   18